<span *ngIf="hero then heroSelected else heroNotSelected;"></span>
<ng-template #heroSelected>
	<h2>{{ hero.name }} details!</h2>
	<div>
		<div>
			<label>id: </label> {{ hero.id }}
		</div>
		<div>
			<label>name: </label> <input [(ngModel)]="hero.name" placeholder="name"/>
		</div>
	</div>
	<button (click)="goBack();" >Back</button>
</ng-template>
<ng-template #heroNotSelected><h2>No hero selected!</h2></ng-template>
