<h3>Top heroes</h3>
<div class="grid grid-pad row">
	<a *ngFor="let hero of heroes" class="col-xs-3" [routerLink]="['/detail', hero.id]">
		<div class="module hero">
			<h4>{{ hero.name }}</h4>
		</div>
	</a>
</div>
