<ul class="heroes">
	<li *ngFor="let hero of heroes"
		(click)="onSelect(hero)" [class.selected]="hero == selectedHero">
		<span class="badge">{{ hero.id }}</span> {{ hero.name }}
	</li>
</ul>
<div *ngIf="selectedHero">
	<h2>
		{{ selectedHero.name | uppercase }} is my hero!
	</h2>
	<button (click)="gotoDetail();">View details</button>
</div>
